*{
    font-family: sans-serif;
}
header{
    align-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
header h1{
    margin-left: 50px;
    margin-right: 50px;
}

.class-tabela{
    text-align: center;
    vertical-align: middle;
    border: solid 1px black;
    margin-bottom: 15px;
}

.class-tabela tr td{
    border: solid 1px black
}

.class-tabela tr:first-child{
    background-color: black;
    color: white;
}

.class-tabela tr:nth-child(3) td:nth-child(2n){
    background-color: rgb(173, 14, 14);
    color: white;
}
.class-tabela tr:nth-child(3) td:nth-child(2n+1){
    background-color: rgb(233, 128, 128);
    color: white;
}

.class-tabela tr:nth-child(11) td:nth-child(2n){
    background-color: rgb(173, 14, 14);
    color: white;
}

.class-tabela tr:nth-child(11) td:nth-child(2n+1){
    background-color: rgb(233, 128, 128);
    color: white;
}

.class-tabela tr:nth-child(12) td:nth-child(2){
    background-color: rgb(36, 209, 36);
}
.class-tabela tr:nth-child(12) td:nth-child(4){
    background-color: rgb(36, 209, 36);
}

.class-tabela tr:nth-child(2n) td:first-child{
    background-color: lightgrey;
}

.class-tabela tr:nth-child(2) td:first-child{
    background-color: grey;
}

.class-tabela tr:nth-child(10) td:first-child{
    background-color: grey;
}

